<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>soundwich.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>soundwichTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65464D8C1BB5ECCF00FB4B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65464DA21BB5ECCF00FB4B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65464DAD1BB5ECCF00FB4B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
